*.class
*.log
*.bin
*.map
*.jar
pg.cfg
*~

#eclipse
.settings
.cache
.classpath
.project
.scala_dependencies


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
